
{% extends 'base.html' %}
{% load static %}

{% block body %}
    <title>register</title>

    <br><br>
<div class="container right-panel-active">
	<!-- Sign Up -->
	<div class="container__form container--signup">
		<form action="/add" class="form"  method="post" enctype="multipart/form-data">
            {% csrf_token %}
			<h2 class="form__title">Register as a driver</h2>
			<input type="text" name="name" - required placeholder="Full Name" class="input" />
			<input type="email" name="email" required placeholder="Email" class="input" />
            <input type="number" name="phone"  required placeholder="Phone" class="input" />
             <input type="text" name="licence" required placeholder="Class A,B,C" class="input" />
			<input type="file" name="image" accept="image/png, image/gif, image/jpg" class="input" />
			<input type="submit" class="form-control btn btn-success">
		</form>
	</div>

	<!-- Sign In -->


	<!-- Overlay -->
	<div class="container__overlay">
		<div class="overlay">

			<div class="overlay__panel overlay--right">
				<button class="btn" id="signUp">Register</button>
			</div>
		</div>
	</div>
</div>




{% endblock %}